In [66]:
#matrice de regression
import numpy as np
global n
def prep_mat(X,h):
    """
    Arguments:
    X array
    h horizon positive integer
    Returns
    Mat_X une matrice nxp
    """
    n=len(X)-h #p ici coincide avec h
    T=np.zeros((n,h))
    for i in range(n):
        l=X[len(X)-1-h-i:len(X)-i-1]
        T[i:]=l[::-1]
        Mat_X=T[:,0:h]

    return Mat_X

In [67]:
#matrice de la métrique
import math 
def metr_retard(α,β,h):
    M=np.eye(h) #métrique pour la norme de b
    for j in range(h) :
          M[j,j]  = math.exp(α+ j*β)
    return M

def metr(n):
    W=np.eye(n) #métrique pour calculer les produits scalaires entre séries
    for j in range(n) :
          W[j,j]  = 1/n
    return W

In [88]:
# regression ridge
def ridge(X,Y,λ,h,α,β):
    
    global n
    """"
    Arguments : 
    (X,Y) :une serie temporelle
    λ     :facteurs de pénalisation 
    h     : horizon 
    (α,β) :des reels positives pour construir la matrice metrique 
    returns
    b de dimension h
    """
    
    
    n=len(X)-h
    M=metr_retard(α,β,h)#métrique
    x=prep_mat(X,h)#la matrice X(t-1,t-h)
    W=metr(n)
     # reglage de la dimension de Y
    T=Y[h:len(X)]
    y=T[::-1]#les h derniers coeficients de y
    #calcul de l'estimateur de ridge (X'WX+λM)^(-1)X'Wy
    J1=np.transpose(x).dot(W) 
    J2=J1.dot(x)
    B=np.linalg.inv(J2+λ*M)
    b1=B.dot(np.transpose(x))
    b2=b1.dot(W)
    b=b2.dot(y)
    return b

In [69]:
import pandas as pd
from pandas import DataFrame
%pwd
serieX=pd.read_csv('C:/Users/33605/Documents/serie X.csv',sep='	') 
serieX

     T         X
0    0  2.014602
1    1  2.044057
2    2  2.017678
3    3  1.886158
4    4  1.815373
..  ..       ...
95  95  1.800795
96  96  1.961917
97  97  1.959516
98  98  1.794639
99  99  1.805775

[100 rows x 2 columns]

In [70]:
X=serieX['X']
prep_mat(X,60)

array([[1.79463948, 1.95951611, 1.96191706, ..., 2.181261  , 2.06335304,
        2.18038708],
       [1.95951611, 1.96191706, 1.80079482, ..., 2.06335304, 2.18038708,
        2.05960296],
       [1.96191706, 1.80079482, 1.70173392, ..., 2.18038708, 2.05960296,
        2.137301  ],
       ...,
       [1.91530432, 1.92121181, 1.91788796, ..., 1.81537314, 1.88615818,
        2.01767825],
       [1.92121181, 1.91788796, 1.94988178, ..., 1.88615818, 2.01767825,
        2.04405723],
       [1.91788796, 1.94988178, 2.0218823 , ..., 2.01767825, 2.04405723,
        2.0146017 ]])

M=I (alpha=0, gamma=0) lambda=1

In [71]:
Y=X
b0=ridge(X,Y,1,9,0,0)
b0

array([0.123212  , 0.11525192, 0.11137473, 0.10897241, 0.10561615,
       0.10254896, 0.10014289, 0.1010173 , 0.10311321])

M1 (alpha=0, gamma=0,1) lambda=1

In [63]:
Y=X
b1=ridge(X,Y,1,9,0,0.1)
b1

array([0.16573569, 0.14294696, 0.12674383, 0.11344143, 0.10077351,
       0.08966863, 0.08016267, 0.0732678 , 0.06729317])

M2 (alpha=0, gamma=0.2) lambda=1

In [64]:
Y=X
b2=ridge(X,Y,1,9,0,0.2)
b2

array([0.21457952, 0.16957953, 0.13723367, 0.1118394 , 0.09054163,
       0.07339985, 0.05972445, 0.0493802 , 0.04088297])

lambda = 0

(alpha=0, gamma=0)

In [74]:
Y=X
b3=ridge(X,Y,0,9,0,0)
b3

array([ 0.86776685, -0.15229183,  0.19109782,  0.13648133, -0.11231696,
        0.04673532, -0.17288446,  0.09663907,  0.09902045])

lambda=0.1
(alpha, gamma)=(0,0)

In [73]:
Y=X
b4=ridge(X,Y,0.1,9,0,0)
b4

array([0.22792525, 0.15597798, 0.12989583, 0.1162986 , 0.09143602,
       0.06996207, 0.05401165, 0.06599369, 0.08509659])

lambda=0.2 (alpha, gamma)=(0.1,0.1)

In [75]:
Y=X
b5=ridge(X,Y,0.1,9,0.1,0.1)
b5

array([0.24835517, 0.16648432, 0.13370406, 0.1140066 , 0.08911796,
       0.06942718, 0.05590583, 0.0576303 , 0.0606585 ])

lambda=0.2 (alpha, gamma)=(0.2,0.2)

In [76]:
Y=X
b6=ridge(X,Y,0.2,9,0.2,0.2)
b6

array([0.24868885, 0.1794041 , 0.14105171, 0.11375149, 0.08916701,
       0.07008374, 0.05591286, 0.04769908, 0.04091278])

In [78]:
import pandas as pd
from pandas import DataFrame
%pwd
serieXY=pd.read_csv('C:/Users/33605/Documents/seriesXY.csv',sep='	') 
serieXY

     T       X       Y
0    0  2.0523  0.9803
1    1  1.9783  1.4986
2    2  2.0042  2.4878
3    3  2.1818  3.0130
4    4  2.2812  3.1823
..  ..     ...     ...
95  95  1.9911  5.3231
96  96  2.1453  5.2377
97  97  2.0991  5.3364
98  98  2.1732  5.3458
99  99  2.0069  5.2201

[100 rows x 3 columns]

In [79]:
X=serieXY['X']
prep_mat(X,20)

array([[2.1732, 2.0991, 2.1453, ..., 1.9982, 2.0286, 2.188 ],
       [2.0991, 2.1453, 1.9911, ..., 2.0286, 2.188 , 2.2709],
       [2.1453, 1.9911, 2.0163, ..., 2.188 , 2.2709, 2.2753],
       ...,
       [1.9175, 2.0169, 2.1281, ..., 2.2812, 2.1818, 2.0042],
       [2.0169, 2.1281, 2.117 , ..., 2.1818, 2.0042, 1.9783],
       [2.1281, 2.117 , 1.9331, ..., 2.0042, 1.9783, 2.0523]])

In [80]:
Y=serieXY['Y']
b=ridge(X,Y,1,20,1,1)
b

array([1.10707943e+00, 4.08016366e-01, 1.50650169e-01, 5.55701567e-02,
       2.05360893e-02, 7.57107747e-03, 2.78651117e-03, 1.02614654e-03,
       3.77926015e-04, 1.38822182e-04, 5.09297717e-05, 1.86755145e-05,
       6.86128702e-06, 2.52497934e-06, 9.29770749e-07, 3.42396775e-07,
       1.26037671e-07, 4.63208042e-08, 1.70459721e-08, 6.27915553e-09])

In [81]:
b0=ridge(X,Y,1,9,0,0)
b0

array([0.26942901, 0.26412755, 0.26348085, 0.26326081, 0.26747291,
       0.2681199 , 0.2712509 , 0.27672497, 0.28239314])

In [82]:
b1=ridge(X,Y,1,9,0,0.1)
b1

array([0.38008591, 0.33981165, 0.30838294, 0.2804138 , 0.25802481,
       0.23512348, 0.2154175 , 0.19828892, 0.1821828 ])

In [83]:
b2=ridge(X,Y,1,9,0,0.2)
b2

array([0.50677882, 0.41199784, 0.33937582, 0.280042  , 0.23308952,
       0.19251744, 0.15947596, 0.13244673, 0.10972726])

In [84]:
b3=ridge(X,Y,0,9,0,0)
b3

array([ 0.71291514, -0.24103597,  0.48546971, -0.25602974,  0.44410763,
        0.05245021,  0.18404269,  0.31089841,  0.80027073])

In [85]:
b4=ridge(X,Y,0.1,9,0,0)
b4

array([0.29007505, 0.24031315, 0.23510886, 0.22776953, 0.2579278 ,
       0.25505569, 0.27863124, 0.3246576 , 0.37566111])

In [86]:
b5=ridge(X,Y,0.1,9,0.1,0.1)
b5

array([0.37586549, 0.30371299, 0.28087208, 0.26020104, 0.26440181,
       0.24737941, 0.24527316, 0.25119771, 0.25163702])

In [87]:
b6=ridge(X,Y,0.2,9,0.2,0.2)
b6

array([0.508273  , 0.40412233, 0.33905437, 0.28547401, 0.24743778,
       0.20854855, 0.17876039, 0.15467173, 0.13209738])